* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.color-red {
  color: #E55473;
}
.line-height {
  line-height:20px;
}

/* This is header section  */

.header-container {
  height: 450px;
  background-color: #ffe5eb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rose-photo {
  height: 400px;
  width: 340px;
  margin-top: 54px;
  margin-left: -150px;
  
}
.header-text {
  margin-left: 40px;
}
.header-title{
  font-size: 45px;
  color: rgb(49, 48, 48);
}
.header-description {
  font-size: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8c8888;
  line-height:15px;
}
.header-btn {
  color: white;
  background-color: #E55473;
  padding: 10px 20px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}


/* <!-- This is Our Featured Flowers Section  --> */
.Our-feature-photos {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 350px;
  margin: auto;
  margin-bottom: 25px;
  width: 70%;
}
.Our-feature-text {
 text-align: center;
}
.Our-feature-title {
  font-size: 25px;
  margin-top: 75px;
}
.Our-feature-description {
  font-size: 9px;
  margin-top: 15px;
  color: #8c8888;
  line-height:15px;
}


#Flower1 {
  height: 200px;
  width: 150px ;
  position: relative;
  top: 50px;
  left: 20px;
}
.Flowerbackground1 {
  background-color:pink;
  height: 250px;
  width: 220px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}#Flower2 {
  height: 200px;
  width: 200px ;
  position: relative;
  top: 40px;
  left: 10px;
}
.Flowerbackground2 {
  background-color:#d4fdffd1;
  height: 250px;
  width: 220px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}
#Flower3 {
  height: 200px;
  width: 150px ;
  position: relative;
  top: 50px;
  left: 25px;
}
.Flowerbackground3 {
  background-color:#c7d4ba;
  height: 250px;
  width: 220px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}
.flower-name{
  position: relative;
  top: 70px;
  left: 48px;
  text-decoration: underline;
  font-size: 16px;
  color: rgb(69, 63, 63);
}

/* <!-- This is Hot deal section --> */
.hot-deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: #fff0f3;
  
}
.hot-deal-title {
  font-size: 30px;
  text-align: center;
  color: rgb(52, 50, 50);
}
.hot-deal-description {
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: rgb(71, 69, 69);
}
.btn-center {
  text-align: center;
  align-items: center;
}
.hot-deal-text {
  margin-left: 40px;
}
.hot-deal-image {
  height:250px;
  width: 200;
  margin-right: 80px;
}
