* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.color-red {
  color: #E55473;
}
.line-height {
  line-height:20px;
}

/* This is header section  */

.header-container {
  height: 450px;
  background-color: #ffe5eb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rose-photo {
  height: 400px;
  width: 340px;
  margin-top: 54px;
  margin-left: -150px;
  
}
.header-text {
  margin-left: 40px;
}
.header-title{
  font-size: 45px;
  color: rgb(49, 48, 48);
}
.header-description {
  font-size: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8c8888;
  line-height:15px;
}
.header-btn {
  color: white;
  background-color: #E55473;
  padding: 10px 20px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}


/* <!-- This is Our Featured Flowers Section  --> */
.Our-feature-photos {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 350px;
  margin: auto;
  margin-bottom: 25px;
  width: 70%;
}
.Our-feature-text {
 text-align: center;
}
.Our-feature-title {
  font-size: 25px;
  margin-top: 75px;
}
.Our-feature-description {
  font-size: 9px;
  margin-top: 15px;
  color: #8c8888;
  line-height:15px;
}


#Flower1 {
  height: 200px;
  width: 150px ;
  position: relative;
  top: 50px;
  left: 20px;
}
.Flowerbackground1 {
  background-color:pink;
  height: 250px;
  width: 220px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}#Flower2 {
  height: 200px;
  width: 200px ;
  position: relative;
  top: 40px;
  left: 10px;
}
.Flowerbackground2 {
  background-color:#d4fdffd1;
  height: 250px;
  width: 220px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}
#Flower3 {
  height: 200px;
  width: 150px ;
  position: relative;
  top: 50px;
  left: 25px;
}
.Flowerbackground3 {
  background-color:#c7d4ba;
  height: 250px;
  width: 220px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}
.flower-name{
  position: relative;
  top: 70px;
  left: 48px;
  text-decoration: underline;
  font-size: 16px;
  color: rgb(69, 63, 63);
}

/* <!-- This is Hot deal section --> */
.hot-deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: #fff0f3;
  
}
.hot-deal-title {
  font-size: 30px;
  text-align: center;
  color: rgb(52, 50, 50);
}
.hot-deal-description {
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: rgb(71, 69, 69);
}
.btn-center {
  text-align: center;
  align-items: center;
}
.hot-deal-text {
  margin-left: 40px;
}
.hot-deal-image {
  height:250px;
  width: 200;
  margin-right: 80px;
}

/* .<!-- This is Instagram Section  --> */
.instagram-text {
  text-align: center;
  margin-top: 20px;
}
.instagram-description {
  font-size: 12px;
  color: #8c8888;
}
.instagram-photos {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 300px;
  width: 74%;
  margin: auto;
}
.instagram-title {
  margin-bottom: 25px;
  font-size: 27px;
  margin-top: 50px;
  color: #343232;
}
.Photo-size {
  height: 200px;
  width: auto;
}


/* <!-- This is Get the deals Section  --> */
.Get-the-latest-deals-container {
  height: 250px;
  background-image: url("Flower Asset/Rectangle\ 9.png");
  width: 72%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Get-title {
  font-size: 30px;
  text-align: center;
  color: #343232;
}
.Get-description {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  color: #8c8888;
  font-size: 12px;
}
.get-input {
  padding: 11px 110px;
  border: none;
  border-radius: 5px;
}

/* This is customer feedback section  */



.Customer-feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #ffe5eb;
  height: 350px;
}

.customer-heading {
  color: #8c8888;
  letter-spacing: 4px;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
}

.customer-title {
  color: #343232;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 30px;
}

.customer-feedback {
  color: #5c5757;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
}

.customer-from {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #5c5757;
  margin-bottom: 25px;

}

.customer-name {
  font-size: larger;
  font-weight: bolder;
  color: #343232;

}

.customer-btn {
  color: white;
  background-color:rgba(191, 80, 193, 0.8);
  padding: 12px 15px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
}



/* . <!-- This is footer section  --> */
.footer-text-container {
  color: white;
  background-color: black;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.footer-title {
  text-align: center;
  font-size: 28px;
}.footer-description {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  color:#b4a1a1
}
.footer-copyright {
  text-align: center;
  font-size: 11px;
  color: #5c5757;
}
